In [4]:
#import necessary modules
import pandas as pd

#loading the FED files:
fed_files = ['MORTGAGE30US.csv','CPIAUCSL.csv','RRVRUSQ156N.csv']
fed_dfs = [pd.read_csv(f, parse_dates=True, index_col=0) for f in fed_files]

fed_dfs

[            MORTGAGE30US
 DATE
 1971-04-02          7.33
 1971-04-09          7.31
 1971-04-16          7.31
 1971-04-23          7.31
 1971-04-30          7.29
 ...                  ...
 2022-08-18          5.13
 2022-08-25          5.55
 2022-09-01          5.66
 2022-09-08          5.89
 2022-09-15          6.02

 [2686 rows x 1 columns],
             CPIAUCSL
 DATE
 1947-01-01    21.480
 1947-02-01    21.620
 1947-03-01    22.000
 1947-04-01    22.000
 1947-05-01    21.950
 ...              ...
 2022-04-01   288.663
 2022-05-01   291.474
 2022-06-01   295.328
 2022-07-01   295.271
 2022-08-01   295.620

 [908 rows x 1 columns],
             RRVRUSQ156N
 DATE
 1956-01-01          6.2
 1956-04-01          5.9
 1956-07-01          6.3
 1956-10-01          5.8
 1957-01-01          5.3
 ...                 ...
 2021-04-01          6.2
 2021-07-01          5.8
 2021-10-01          5.6
 2022-01-01          5.8
 2022-04-01          5.6

 [266 rows x 1 columns]]

In [5]:
fed_data = pd.concat(fed_dfs, axis=1)
fed_data

            MORTGAGE30US  CPIAUCSL  RRVRUSQ156N
DATE
1947-01-01           NaN     21.48          NaN
1947-02-01           NaN     21.62          NaN
1947-03-01           NaN     22.00          NaN
1947-04-01           NaN     22.00          NaN
1947-05-01           NaN     21.95          NaN
...                  ...       ...          ...
2022-08-18          5.13       NaN          NaN
2022-08-25          5.55       NaN          NaN
2022-09-01          5.66       NaN          NaN
2022-09-08          5.89       NaN          NaN
2022-09-15          6.02       NaN          NaN

[3513 rows x 3 columns]